<mat-toolbar>
	<mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
		<h1>Roee Shapira -</h1>
		<h2>- Fullstack Developer</h2>
		<span class="spacer"></span>
		<nav class="sm-links" fxLayout="row" fxLayoutGap="10px" fxHide.xs>
			<a href="https://www.linkedin.com/in/roee-shapira" target="_blank" matTooltip="LinkedIn Profile"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="linkedIn"></mat-icon>
			</a>
			<a href="mailto:roee.shap1@gmail.com?subject=Roee's CV site" target="_blank" matTooltip="E-mail"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="email"></mat-icon>
			</a>
			<a href="https://bitbucket.org/5c077m4n/" target="_blank" matTooltip="Bitbucket Account"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="bitbucket"></mat-icon>
			</a>
			<a href="https://github.com/5c077m4n" target="_blank" matTooltip="GitHub Account"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="github"></mat-icon>
			</a>
			<a href="https://www.npmjs.com/~5c077m4n" target="_blank" matTooltip="NPM Account"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="npm"></mat-icon>
			</a>
			<a href="http://www.npm-stats.com/5c077m4n" target="_blank" matTooltip="NPM module's download status"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="stats"></mat-icon>
			</a>
		</nav>
	</mat-toolbar-row>
	<mat-toolbar-row fxLayoutAlign="center center" fxShow.xs fxHide.gt-xs>
		<nav class="sm-links" fxLayout="row" fxLayoutGap="10px">
			<a href="https://www.linkedin.com/in/roee-shapira" target="_blank" matTooltip="LinkedIn Profile"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="linkedIn"></mat-icon>
			</a>
			<a href="mailto:roee.shap1@gmail.com?subject=Roee's CV site" target="_blank" matTooltip="E-mail"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="email"></mat-icon>
			</a>
			<a href="https://bitbucket.org/5c077m4n/" target="_blank" matTooltip="Bitbucket Account"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="bitbucket"></mat-icon>
			</a>
			<a href="https://github.com/5c077m4n" target="_blank" matTooltip="GitHub Account"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="github"></mat-icon>
			</a>
			<a href="https://www.npmjs.com/~5c077m4n" target="_blank" matTooltip="NPM Account"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="npm"></mat-icon>
			</a>
			<a href="http://www.npm-stats.com/5c077m4n" target="_blank" matTooltip="NPM module's download status"
				rel="noopener noreferrer nofollow">
				<mat-icon class="material-icons md-24 md-dark" svgIcon="stats"></mat-icon>
			</a>
		</nav>
	</mat-toolbar-row>
</mat-toolbar>
