<ng-container [ngSwitch]="y">
	<app-project-item *ngSwitchCase="0" [project]="projects[y][x]"></app-project-item>
	<app-module-item *ngSwitchCase="1" [module]="projects[y][x]"></app-module-item>
</ng-container>
